/* Contenedor Principal */
.navbar {
  background-color: #1a1a1a;
  border-bottom: 2px solid #ffd000; /* Línea neón inferior */
  padding: 0.8rem 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Logo */
.logo {
  font-size: 1.8rem;
  font-weight: 900;
  color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.3s;
}

.logo span {
  color: #fffb00;
  text-shadow: 0 0 10px rgba(255, 162, 0, 0.6);
}

/* Menú */
.menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-greeting {
  margin-left: 5%;
  text-shadow: #e0e0e0 0px 0px 5px;
  color: #e0e0e0;
  margin-right: 15px;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.username {
  color: #ffc400;
  text-shadow: 0 0 5px rgba(242, 255, 0, 0.6);
}

/* Botones Base */
.nav-btn {
  background: #2a2a2a;
  color: white;
  border: 1px solid #4a4944;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.nav-btn:hover {
  background: #333;
  border-color: #ffc400;
  color: #ffe100;
  text-shadow: #e0e0e04d 0px 0px 5px;
  transform: translateY(-2px);
}

/* Botón Admin (Dorado/Especial) */
.admin-btn {
  border-color: #ffea00;
  color: #ff9900;
}

.admin-btn:hover {
  background: rgba(255, 187, 0, 0.1);
  color: #fff;
}

/* Botón Cerrar Sesión (Rojo) */
.logout-btn {
  border-color: #fa2898;
  color: #ff4d85;
}

.logout-btn:hover {
  background: #f6311787;
  color: white;
  border-color: #e41546;
  text-shadow: #e0e0e04d 0px 0px 5px;
}

/* Botón Registro (Brillante) */
.register-btn {
  background: #67dc00da;
  color: #000;
  border: none;
}

.register-btn:hover {
  background: #8bcc00;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 255, 149, 0.4);
}